.evento{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-select {
    color: #003C46; 
    border: none; 
    margin: 1rem auto;
    width: 50%;
    background-color: transparent;
}

.event-select:focus{
    border: none;
}