
.container-register-ponto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-section-register {
    background-color: #003C4610;
    padding: 1rem 0;
    width: 95%;
    margin: 0.5rem auto;
    -webkit-box-shadow: -3px 12px 12px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 12px 12px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 12px 12px -12px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
}

.card-section-register .form-register {
    display: flex;
    flex-direction: column;
    width: 90%;
    row-gap: 1rem;
    margin: 0 auto;
}

.card-section-register .form-register .input {
    border: 2px solid #003C4680;
    border-radius: 0.375rem;
    padding: 1rem;
    background: none;
    color: #003C4660;
}

.card-section-register .form-register .input:focus{
    border: 2px solid#FF4B23; 
    outline: none;
}

.card-section-register .form-register .input::placeholder{
    color: #003C4660;
}

.card-section-register .form-register .input-text {
    height: 3rem;
}

.card-section-register .tipos-servico{
    display: flex;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}