.container-p-turistico{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container-p-turistico input {
    border: 2px solid #003C4680;
    border-radius: 0.375rem;
    padding: 1rem;
    background: none;
    color: #003C46;
    height: 3rem;
}

.container-p-turistico input:focus{
    border: 2px solid#FF4B23; 
    outline: none;
}

.container-p-turistico input::placeholder{
    color: #003C4660;
}

